# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=cavosh_cafe
DB_USER=root
DB_PASSWORD=
DB_DIALECT=mysql

# Server
PORT=8080
NODE_ENV=development

# Email (SMTP) — Requerido para recuperación de contraseña
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=jyptesis@gmail.com
MAIL_PASS=jied ylhi xwkz unpp
MAIL_FROM=Cavosh Café <jyptesis@gmail.com>
